
<div class="section">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Signup</h4>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= render "devise/shared/error_messages", resource: resource %>
                      <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                        <i class="input-icon uil uil-at"></i>
                      </div>

                      <div class="form-group mt-2">
                        <%= f.label :password %>
                        <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "new-password" %>
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>

                      <div class="form-group">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                      </div>

                      <div class="btn mt-3">
                        <%= f.submit "Sign up" %>
                      </div>
                    <% end %>
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>