<div class="row">
  <div class="col-lg-6 mt-5">
    <div class="card shadow">
      <div class="card-body">
        <p class="lead"><%= @workshop_count %> Total Workshops </p>
        <p class="lead"><%= @upcoming_workshop_count %> Upcoming Workshop</p>
        <p class="lead"><%= @past_workshop_count %> Past Workshop</p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 mt-5">
    <div class="card shadow">
      <div class="card-body">
      <p class="lead"><%= @booking_count %> Total Booking </p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 mt-5">
    <div class="card shadow">
      <div class="card-body">
      <p class="lead"><%= @users_count %> Total User</p>

      </div>
    </div>
  </div>

</div>