
  <h3 class="mt-4 mb-4">My Booking</h3>
	<div class="row">
      <% @bookings.each do | booking | %>
        <div class="col-lg-6">
          <div class="card shadow mb-3 mt-2">
            <div class="card-body">
              <h4 class="card-tittle"><%= booking.workshop.name %></h4>
              <p class="lead"><%= truncate(booking.workshop.descrition, length: 80) %></p>
              <strong><span><%= booking.workshop.total_duration %></strong>
              <h6><span class="badge bg-success"><%= booking.workshop.daily_duration %></h6>
              
              <%= link_to 'View Details', workshop_path(booking.workshop), class:"btn btn-info btn lg" %>
              <%= link_to 'Cancel Booking', "", method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn lg float-end" %>
            </div>
          </div>
        </div>
      <% end %>
  </div>