<div class="col-lg-10 mx-auto">
  <div class="card-shadow">
    <div class="card-header">
      <h4 class="card-title">Booking Confirmation </h4>
    </div>
    <div class="card-body">
      <h2>Greeting from Bestpeers</h2>
      <h2> hello </h2>

      <p class="lead"> Your booking for <strong>
        <%= @workshop.name %> has been confirmed please find the details below
        </strong>
      </p>
      <h3>Here your booking id:<%= @booking.order_number %> This booking id unique pr order </h3>
      <h3>Booking Details</h3>
      <p><strong>No of tickets </strong><%= @booking.no_of_tickets %></p>
      <p><strong>You paid </strong><%= @workshop.registration_fee * @booking.no_of_tickets %></p>
      <hr>
      <h3> Workshop Schedule</h3>
      <h4> <span><%= @workshop.total_duration %></span></h4>
      <h4> <span><%= @workshop.daily_duration %></span></h4>
    </div>
  </div>
</div>